html {
    overflow: hidden;
    height: 100%;
}

body {
	margin:0;
}

input:not([type="button"]):not([type="image"]),select,.chosen-choices,.chosen-container-multi .chosen-choices,.chosen-choices .search-choice{
    border-radius: 5px;
    border: 0px none !important;
    outline: 0px none !important;
    padding: 9px;
    color: #EEE !important;
    background-color: rgba(10, 10, 10, 0.7) !important;
	background-image:none !important;
}

.chosen-results .active-result {
	color:#eee;
}
.chosen-results .result-selected {
	color:rgb(25,25,25) !important;
}

.chosen-drop {
	background-color:#000;
	border-width: 0px !important;
}

.chosen-drop li {
	background-color: rgba(10, 10, 10, 0.7);
	background-image:none !important;
}

.addonclass {
	-webkit-box-shadow: 0px 0px 15px 10px #5A5A5A;
	-moz-box-shadow:    0px 0px 15px 10px #5A5A5A;
	box-shadow:         0px 0px 15px 10px #5A5A5A;
	margin: 15px 0px 50px;
	padding: 15px;
	background-color: #1D1D1D;
}

.addonclass > table {
	margin: 25px 0;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
}

#intro {
    padding-bottom: 10px;
}

#info {
	width: 23%;
	margin: 0 auto;
	position: absolute;
	left: 0;
	padding: 15px;
	margin-top: 40px;
}
#info > .scrollContainer {
	display:none;
}

#slider {
	width: 100%;
	margin: 0px auto;
	left: 0px;
	height: 97%;
	position: absolute;
	bottom: 0px;
}

.widget {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.widget-head {
	height: 3%;
	position: relative;
}

.scroll {
	height: 97%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto !important;
	position: absolute;
	clear: both;
	background-color: #323232;
}

.scrollContainer div.panel {
    height: 80%;
    width: 1000px;
}

.panel > h3 {
	margin:15px 0 0;
}

#navigation {
	padding:0 !important;
}

ul.navigation {
	list-style: outside none none;
	margin: 0px;
	position: relative;
	height: 3%;
	padding:0;
}

ul.navigation li {
    display: inline;
    margin-right: 5px;
}

ul.navigation a {
    padding: 5px;
	  color: #666666;
    text-decoration: none;
}

ul.navigation a:hover {
	  color:rgb(0, 153, 255);
}

ul.navigation a.selected {
	  color:rgb(0, 153, 255);
}

ul.navigation a:focus {
    outline: none;
}
.headers > tbody > tr > td { width:99px; }
.headers > tbody > tr > td:last-child { width:70px; }
.hide {
    display: none;
}
input.ui-button { padding: .1em 1em !important; }
input.ui-button:hover { color:rgb(0, 153, 255) !important; }
input.ui-button.remove { color:rgb(172, 80, 77) !important;margin-left:5px; }
input.ui-button.remove:hover { color:rgb(152, 60, 57) !important; }
input.readonly {
	background-color:rgb(200,200,200) !important;
	border-color:rgb(200,200,200) !important;
}
td > span { display:none;position:absolute;background-color:black;padding:5px;z-index:1000; }
td:hover > span { display:block; }
.container
{
    height: 150px;
    width: 100px;
	max-width:80%;
    margin: 5px -100px 5px 100px;
	position:relative;
	float:left;
	clear:both;
}
.container > span { background-color:rgba(0, 0, 0, 0.65);width:100%;z-index:2;position:absolute;overflow:hidden; }
.container > form > input { display:none; }
h2.container { height:auto; }
.image
{
    position:absolute;
    left:0;
    top:0;
	width:100%;
	height:100%;
}
.text
{
    z-index:100;
    position:absolute;    
    color:#eee;
    font-size:24px;
    font-weight:bold;
    width:100%;
	left:0px;
	padding:10px 0;
	bottom:0;
}
div:hover > .text { color:rgb(0, 153, 255); }
#NAVIGATION > table > tbody > tr > td > form { float:left; }
#NAVIGATION > table > tbody > tr > td > img { float:right; }
.dz-success { position:absolute;background-color:rgba(0,0,0,.4);margin:0 25%;padding:0 5 5; }
.dz-success-mark, .dz-error-mark, .dz-filename, .dz-size { display:none; }
.title { text-align:right; }
.orange { color:#FF9522 !important;text-decoration:none; }
.blue { color:rgb(0, 153, 255); }
.chosen-container-multi .chosen-choices li.search-field input[type="text"] { padding:0 !important;min-width:95px;margin:2.5px !important; }
.button.right { text-align:right; }
hr { width:60%;color:#eee;border-color:#eee;background-color:#eee;margin:0 auto; }
.tabletitle { border-top: 1.5px solid #eee;padding: 15px 80px; }
input.req { border: 3px solid rgb(172, 80, 77) !important; }
input.req:focus { background-color:rgb(255, 204, 207) !important; }
